.input {
    width: 100%;
  }

.option {
    margin-right: 2rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-top {
  margin-top: 0.5rem;
}

.submit-btn {
  color: #3F51B5;
  margin-top: 2rem;
}

.male {
  background: #B7A3FF;
}

.male-2 {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  background: #B7A3FF;
}

.female {
  background: #FFB6EC;
}

.female-2 {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  background: #FFB6EC;
}