<form [formGroup]="guestForm" [ngClass]="genderClass()">
    <h1 mat-dialog-title>{{titel}}</h1>
    
    <mat-dialog-content>

        <mat-form-field class="input margin-top" appearance="outline">
            <mat-label>Navn</mat-label>
            <input type="text" placeholder="Indtast navn.." formControlName="name" maxlength="2000" matInput>
        </mat-form-field>

        <mat-form-field class="input" appearance="outline">
            <mat-label>Sidemakker</mat-label>
            <mat-chip-grid #chipGrid>
              <mat-chip-row *ngFor="let g of chosenGuest" (removed)="onRemove(g)">
                {{g.name}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="Tilføj sidemakker..." #actionCodeInput formControlName="partner"
              [matChipInputFor]="chipGrid" [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="onAddGuest($event)" maxlength="100" />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="chipSelected($event.option.value); actionCodeInput.value = ''">
              <mat-option *ngFor="let g of guestList" [value]="g">
                {{g.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="guestForm.controls.partner.invalid" style="color: red;">Vælg max 2 sidemakkere</mat-hint>
        </mat-form-field>

        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group input" formControlName="gender">
          <mat-radio-button value="1" class="option">Male</mat-radio-button>
          <mat-radio-button value="2" class="option">Female</mat-radio-button>
          <mat-radio-button value="3" class="option">Other</mat-radio-button>
        </mat-radio-group>


        <!-- {{guestForm | json}} -->

        <!-- <button mat-flat-button (click)="print()">Test print</button> -->

    </mat-dialog-content>
    <mat-dialog-actions>
      <button [disabled]="!guestForm.valid" mat-flat-button color="primary" (click)="submit()">Tilføj</button>
    </mat-dialog-actions>

</form>