<mat-card class="card">
  <mat-card-header class="margin-bottom">
    <mat-card-title>Hvor mange borde?</mat-card-title>
  </mat-card-header>
  
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Antal borde</mat-label>
    <input matInput type="number" [(ngModel)]="tables">    
  </mat-form-field>
  
  <mat-card-header class="margin-bottom">
    <mat-card-title>Hvor mange pladser per bord?</mat-card-title>
  </mat-card-header>
  
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Antal pladser</mat-label>
    <input matInput type="number" [(ngModel)]="seats">    
  </mat-form-field>

  <div class="row">
    <button mat-button (click)="generateLists()">Lav borde</button>
    <button color="primary" mat-button (click)="addPerson()">Tilføj Gæst</button>
  </div>


  <div *ngIf="list" class="left-margin">

    <div *ngFor="let item of list; let i = index" class="example-container">
      <h2>Bord {{i+1}}</h2>
    
      <div
        cdkDropList
        id="item-list-{{i}}"
        [cdkDropListData]="item"
        [cdkDropListConnectedTo]="getOtherLists(i)"
        class="example-list"
        (cdkDropListDropped)="drop($any($event))">
        <div class="example-box" *ngFor="let person of item" cdkDrag>{{person}}</div>
      </div>
    </div>
  
  </div>

  
  <!-- <div class="example-container">
    <h2>Done</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div> -->

</mat-card>

